{{define "content"}}


<div class="services" id="features">
    <div class="container">
        <div class="text-center">
            <h2>ここはtop.htmlでさしこんでいる部分</h2>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
            <i class="fa fa-heart-o"></i>
            <h3>エンジニアじゃなくても大丈夫</h3>
            <p>私はエンジニアじゃないから・・・プログラミング初心者だから・・・そんなあなたも大丈夫、Unity初心者の方でもちゃんとゴールできるよう、少人数、対面での授業に徹底的にこだわりました。</p>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <i class="fa fa-cloud"></i>
            <h3>特別な機材不要</h3>
            <p>
                ハイスペックなパソコンなんて持ってない・・・HoloLensは高いし・・・そんなあなたも大丈夫、一般的なWindows10パソコンさえあればちゃんとアプリが作れます。HoloLensも1人一台ご用意します。</p>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
            <i class="fa fa-book"></i>
            <h3>一ヶ月でOK！</h3>
            <p>まとまった時間がなかなかとれなくて・・・そんなあなたも大丈夫、週一回（合計4回）で、HoloLensアプリを創るための基本が身につきます。あとはあなたのクリエイティビティで磨きをかけて下さい！</p>
        </div>
        <div class="col-md-3 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
            <i class="fa fa-gear"></i>
            <h3>フォローアップも万全</h3>
            <p>仕事が忙しいから欠席するかも・・・そんなあなたも大丈夫、週末に行うフォローアップ講座（補習授業）で欠席した回の内容を確認、しかもこのフォローアップ講座、一年間追加料金無しで通って頂けます！</p>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="text-center">
                <button type="button" class="btn btn-default btn-lg">
                    <a href="course.html">
                        カリキュラム詳細はこちらへ
                    </a>
                </button>
                <button type="button" class="btn btn-primary btn-lg">
                    <a href="http://hololensnogakkou.peatix.com">
                        申込みはこちら
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>


{{end}}
